<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Understat Data</title>
</head>

<body>
    <h1>League Player Data</h1>
    <pre>
        {% for player in league_player_data %}
            {{ player }}
        {% endfor %}
    </pre>

    <h1>Player Shot Data</h1>
    <pre>
        {% for shot in player_shot_data %}
            {{ shot }}
        {% endfor %}
    </pre>

    <h1>Team Match Data</h1>
    <pre>
        {% for match in team_match_data %}
            {{ match }}
        {% endfor %}
    </pre>

    <h1>Roster Data</h1>
    <pre>
        {% for player in roster_data['home'] %}
            {{ player }}
        {% endfor %}
    </pre>
</body>

</html>